@import 'tailwindcss';

@theme {
  --color-primary: 'var(--color-primary)';
  --text-color: 'var(--text-color)';
  --bg-color: 'var(--bg-color)';
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-radius: 1.25rem;
  border: 0.375rem solid transparent;
  background-clip: content-box;
}
